---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: super-productivity
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      super-productivity:
        # pod:
        #   securityContext:
        #     runAsNonRoot: true
        #     runAsUser: 1000
        #     runAsGroup: 1000
        #     fsGroup: 1000
        #     fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: johannesjo/super-productivity
              tag: v16.8.1
            env:
              WEBDAV_SYNC_FOLDER_PATH: super-productivity
              SYNC_INTERVAL: 5
              IS_COMPRESSION_ENABLED: "true"
            envFrom:
              - secret: super-productivity-secret
            # FIXME
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: true
            #   capabilities: { drop: ["ALL"] }

    service:
      app:
        ports:
          http:
            port: 80

    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          nginx.ingress.kubernetes.io/auth-url: "http://tinyauth.auth.svc.cluster.local:3000/api/auth/nginx"
          nginx.ingress.kubernetes.io/auth-signin: "https://tinyauth.${SECRET_DOMAIN}/login"
          nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
        hosts:
          - host: &host "sp.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
