---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      vaultwarden:
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: vaultwarden/server
              tag: 1.35.0
            env:
              DOMAIN: https://vaultwarden.${SECRET_DOMAIN}
              SIGNUPS_ALLOWED: false
              SMTP_HOST: smtp.gmail.com
              SMTP_PORT: 465
              SMTP_SECURITY: force_tls
              # SSO_ENABLED: "true"
              # SSO_ONLY: "true"
              # SSO_AUTHORITY: https://iam.${SECRET_DOMAIN}/realms/${SECRET_DOMAIN}
              TZ: "${TIMEZONE}"
              WEBSOCKET_ENABLED: true
            envFrom:
              - secretRef:
                  name: vaultwarden-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 200Mi
              limits:
                memory: 500Mi

    service:
      app:
        ports:
          http:
            port: 80

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        className: external
        hosts:
          - host: &host "vaultwarden.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
      admin:
        annotations:
          external-dns.alpha.kubernetes.io/exclude: "true"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            allow 10.42.3.0/24;
            deny all;
        className: external
        hosts:
          - host: *host
            paths:
              - path: /admin
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: vaultwarden
        globalMounts:
          - path: /data
