---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      stirling-pdf:
        containers:
          main:
            image:
              repository: ghcr.io/stirling-tools/stirling-pdf
              tag: 2.2.0
            env:
              TZ: ${TIMEZONE}
              DOCKER_ENABLE_SECURITY: "true"
              SYSTEM_ENABLEANALYTICS: "false"
              DISABLE_ADDITIONAL_FEATURES: "false"
              SECURITY_ENABLELOGIN: "true"
              SECURITY_LOGINMETHOD: "oauth2"
              SECURITY_OAUTH2_ENABLED: "true"
              SECURITY_OAUTH2_PROVIDER: "keycloak"
              SECURITY_OAUTH2_CLIENT_KEYCLOAK_ISSUER: "https://iam.${SECRET_DOMAIN}/realms/${SECRET_DOMAIN}"
              SECURITY_OAUTH2_CLIENT_KEYCLOAK_SCOPES: openid, profile, email
              SECURITY_OAUTH2_CLIENT_KEYCLOAK_USEASUSERNAME: preferred_username
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "true"
              JAVA_CUSTOM_OPTS: "-Dmanagement.endpoints.web.exposure.include=prometheus,health,info -Dmanagement.endpoint.health.show-details=always -Dmanagement.metrics.export.prometheus.enabled=true -Denterprisemanagement.metrics.enabled=true"
            envFrom:
              - secretRef:
                  name: stirling-pdf-secret
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /api/v1/info/status
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 90
                  periodSeconds: 5
            resources:
              requests:
                cpu: 100m
                memory: 512M
              limits:
                memory: 1024M

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          nginx.ingress.kubernetes.io/proxy-body-size: 10m
        className: external
        hosts:
          - host: &host "pdf.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /configs
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /logs
            subPath: logs
          - path: /pipeline
            subPath: pipeline
          - path: /usr/share/tessdata
            subPath: tessdata
          - path: /tmp
            subPath: tmp
