apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname chartdb
  namespace: flux-system
spec:
  targetNamespace: database
  interval: 1h
  retryInterval: 1m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./kubernetes/apps/prod/database/chartdb/app
  prune: true
  wait: true
  postBuild:
    substitute:
      APP: *appname
