---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mathesar
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
    timeout: 10m
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
    timeout: 10m
  values:
    controllers:
      mathesar:
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: mathesar/mathesar
              # renovate: datasource=github-releases depName=mathesar-foundation/mathesar
              tag: 0.8.0
            env:
              ALLOWED_HOSTS: mathesar.${SECRET_DOMAIN}
              DOMAIN_NAME: https://mathesar.${SECRET_DOMAIN}
              POSTGRES_DB:
                secretKeyRef:
                  name: postgres-mathesar-app
                  key: dbname
              POSTGRES_USER:
                secretKeyRef:
                  name: postgres-mathesar-app
                  key: user
              POSTGRES_PASSWORD:
                secretKeyRef:
                  name: postgres-mathesar-app
                  key: password
              POSTGRES_HOST:
                secretKeyRef:
                  name: postgres-mathesar-app
                  key: host
              OIDC_CONFIG_DICT:
                secretKeyRef:
                  name: mathesar-secret
                  key: OIDC_CONFIG_DICT
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 200m
                memory: 512Mi
              limits:
                memory: 1Gi

    service:
      app:
        ports:
          http:
            port: 8000

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        className: external
        hosts:
          - host: &host "mathesar.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /code/static
            subPath: static
          - path: /code/.media
            subPath: media
          - path: /code/.secrets
            subPath: secrets
