---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opencloud
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      opencloud:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          nodeSelector:
            kubernetes.io/arch: amd64
        containers:
          opencloud:
            image:
              repository: opencloudeu/opencloud-rolling
              tag: 5.0.1
            command:
              - "/bin/sh"
              - "-c"
              - "opencloud init || true; opencloud server"
            env:
              GRAPH_ASSIGN_DEFAULT_USER_ROLE: "false"
              GRAPH_USERNAME_MATCH: "none"

              IDM_CREATE_DEMO_USERS: false
              IDM_ADMIN_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: opencloud-secret
                    key: IDM_ADMIN_PASSWORD

              # IDP_DOMAIN: iam.${SECRET_DOMAIN}
              # IDP_ACCOUNT_URL: https://iam.${SECRET_DOMAIN}/realms/${SECRET_DOMAIN}/account

              OC_ADMIN_USER_ID: ""
              OC_CORS_ALLOW_ORIGINS: https://sp.fdk.codes
              OC_ENABLE_OCM: false
              OC_EXCLUDE_RUN_SERVICES: idp
              OC_OIDC_ISSUER: "https://iam.${SECRET_DOMAIN}/realms/${SECRET_DOMAIN}"
              OC_INSECURE: true
              # OC_LDAP_URI: ldaps://ldap-server:1636
              # OC_LDAP_SERVER_WRITE_ENABLED: true
              OC_LOG_LEVEL: info
              OC_URL: https://opencloud.${SECRET_DOMAIN}

              SETTINGS_SETUP_DEFAULT_ASSIGNMENTS: "false"

              # PROXY_ACCESS_TOKEN_VERIFY_METHOD: "none"
              PROXY_AUTOPROVISION_ACCOUNTS: "true"
              PROXY_AUTOPROVISION_CLAIM_USERNAME: "preferred_username"
              PROXY_CSP_CONFIG_FILE_LOCATION: /etc/opencloud/csp.yaml
              PROXY_OIDC_REWRITE_WELLKNOWN: "true"
              # PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none
              PROXY_ROLE_ASSIGNMENT_DRIVER: oidc
              PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: "oc_roles"

              PROXY_TLS: false
              PROXY_USER_OIDC_CLAIM: "preferred_username"
              PROXY_USER_CS3_CLAIM: "username"

              WEB_OPTION_ACCOUNT_EDIT_LINK_HREF: "https://iam.${SECRET_DOMAIN}/realms/${SECRET_DOMAIN}/account"
              WEB_OIDC_CLIENT_ID: opencloud
              WEB_OIDC_SCOPE: "openid profile email"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 1024Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        ports:
          http:
            port: 9200

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        className: external
        hosts:
          - host: &host "opencloud.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        type: configMap
        name: opencloud-configmap
        globalMounts:
          - path: /etc/opencloud/csp.yaml
            subPath: csp.yaml
          - path: /etc/opencloud/proxy.yaml
            subPath: proxy.yaml

      data:
        existingClaim: opencloud
        globalMounts:
          - path: /var/lib/opencloud
            subPath: data
          - path: /etc/opencloud
            subPath: config

      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
