# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
    timeout: 10m
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
    timeout: 10m
  values:
    controllers:
      ollama:
        pod:
          tolerations:
            - key: "ai"
              operator: "Equal"
              value: "workload"
              effect: "NoSchedule"
          nodeSelector:
            nvidia.com/gpu.present: "true"
          runtimeClassName: nvidia
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ollama/ollama
              tag: 0.14.3
            env:
              TZ: ${TIMEZONE}
              OLLAMA_MODELS: &modelPath /models
              # OLLAMA_LOAD_TIMEOUT: 10m
              OLLAMA_KV_CACHE_TYPE: q8_0
              OLLAMA_FLASH_ATTENTION: 1
              OLLAMA_CONTEXT_LENGTH: 8092

            resources:
              requests:
                cpu: 2
                memory: 12Gi
                nvidia.com/gpu: 1
              limits:
                memory: 20Gi
                nvidia.com/gpu: 1
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup: *probe

    service:
      app:
        ports:
          http:
            port: 11434

    ingress:
      app:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
          nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
          nginx.ingress.kubernetes.io/proxy-next-upstream-timeout: "0"

        hosts:
          - host: &host ollama.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      models:
        existingClaim: ollama
        advancedMounts:
          ollama:
            app:
              - path: /home/ubuntu/.ollama
                subPath: .ollama
              - path: *modelPath
                subPath: models
      run:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi

      # dev:
      #   type: hostPath
      #   hostPath: /dev/dri
      #   globalMounts:
      #     - readOnly: true
