# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rxresume
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      rxresume:
        pod:
          nodeSelector:
            kubernetes.io/arch: amd64
        containers:
          browserless:
            image:
              repository: ghcr.io/browserless/chromium
              tag: v2.38.4
            env:
              TZ: ${TIMEZONE}
              DEBUG: "browserless*,-*:trace,-*:verbose"
              ENABLE_DEBUGGER: "false"
              TIMEOUT: "60000"
              CONCURRENT: "10"
              EXIT_ON_HEALTH_FAILURE: "true"
              HEALTH: "true"
              CHROME_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: rxresume-secret
                    key: CHROME_TOKEN
            securityContext:
              runAsUser: 999
              runAsGroup: 999
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }

          app:
            image:
              repository: ghcr.io/amruthpillai/reactive-resume
              tag: v5.0.3
            env:
              TZ: ${TIMEZONE}
              PORT: &port 3001
              NODE_ENV: production
              APP_URL: https://rxresume.${SECRET_DOMAIN}
              PRINTER_APP_URL: http://rxresume-app:3001
              DISABLE_EMAIL_AUTH: "true"
              FLAG_DISABLE_SIGNUP: "true"
              FLAG_DISABLE_EMAIL_AUTH: "true"
              # -- OpenID (Optional) --
              OAUTH_PROVIDER_NAME: Keycloak
              OAUTH_SCOPES: openid profile email
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: postgres-rxresume-app
                    key: uri
              # S3
              S3_ENDPOINT: https://s3.${SECRET_DOMAIN}
              S3_FORCE_PATH_STYLE: "true"
              S3_BUCKET:
                valueFrom:
                  configMapKeyRef:
                    name: rxresume-bucket
                    key: BUCKET_NAME
              S3_PORT:
                valueFrom:
                  configMapKeyRef:
                    name: rxresume-bucket
                    key: BUCKET_PORT
              S3_ACCESS_KEY_ID:
                valueFrom:
                  secretKeyRef:
                    name: rxresume-bucket
                    key: AWS_ACCESS_KEY_ID
              S3_SECRET_ACCESS_KEY:
                valueFrom:
                  secretKeyRef:
                    name: rxresume-bucket
                    key: AWS_SECRET_ACCESS_KEY
            envFrom:
              - secretRef:
                  name: rxresume-secret
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                cpu: 3000m
                memory: 1024Mi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
      browserless:
        controller: *app
        ports:
          http:
            port: 3000

    ingress:
      browserless:
        className: internal
        hosts:
          - host: &browserlesshost browserless.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: browserless
        tls:
          - hosts:
              - *browserlesshost
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        className: external
        hosts:
          - host: &host rxresume.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
        tls:
          - hosts:
              - *host

    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          rxresume:
            app:
              - path: /tmp
                subPath: tmp
