# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rxresume
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      rxresume:
        pod:
          nodeSelector:
            kubernetes.io/arch: amd64
        containers:
          gotenberg:
            image:
              repository: gotenberg/gotenberg
              tag: 8.25.1
            env:
              CHROMIUM_AUTO_START: "true"
              API_ENABLE_BASIC_AUTH: "true"
              API_TIMEOUT: 60s
              LIBREOFFICE_DISABLE_ROUTES: "true"
              WEBHOOK_DISABLE: "true"
            envFrom:
              - secretRef:
                  name: gotenberg-secret
            securityContext:
              runAsUser: 1001
              runAsGroup: 1001
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }

          app:
            image:
              repository: ghcr.io/amruthpillai/reactive-resume
              tag: v5.0.0
            env:
              TZ: ${TIMEZONE}
              PORT: &port 3001
              NODE_ENV: production
              APP_URL: https://rxresume.${SECRET_DOMAIN}
              PRINTER_APP_URL: http://rxresume-app:3001
              DISABLE_EMAIL_AUTH: "true"
              FLAG_DISABLE_SIGNUP: "true"
              # -- OpenID (Optional) --
              OAUTH_PROVIDER_NAME: Keycloak
              OAUTH_SCOPES: openid profile email
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: postgres-rxresume-app
                    key: uri
              # printer
              GOTENBERG_ENDPOINT: http://rxresume-gotenberg:3000
              GOTENBERG_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: gotenberg-secret
                    key: GOTENBERG_API_BASIC_AUTH_USERNAME
              GOTENBERG_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: gotenberg-secret
                    key: GOTENBERG_API_BASIC_AUTH_PASSWORD
              # S3
              S3_ENDPOINT: https://s3.${SECRET_DOMAIN}
              S3_BUCKET:
                valueFrom:
                  configMapKeyRef:
                    name: rxresume-bucket
                    key: BUCKET_NAME
              S3_PORT:
                valueFrom:
                  configMapKeyRef:
                    name: rxresume-bucket
                    key: BUCKET_PORT
              S3_ACCESS_KEY_ID:
                valueFrom:
                  secretKeyRef:
                    name: rxresume-bucket
                    key: AWS_ACCESS_KEY_ID
              S3_SECRET_ACCESS_KEY:
                valueFrom:
                  secretKeyRef:
                    name: rxresume-bucket
                    key: AWS_SECRET_ACCESS_KEY
            envFrom:
              - secretRef:
                  name: rxresume-secret
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                cpu: 3000m
                memory: 1024Mi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
      gotenberg:
        controller: *app
        ports:
          http:
            port: 3000

    ingress:
      gotenberg:
        className: internal
        hosts:
          - host: &gotenberghost gotenberg.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: gotenberg
        tls:
          - hosts:
              - *gotenberghost
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        className: external
        hosts:
          - host: &host rxresume.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
        tls:
          - hosts:
              - *host

    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          rxresume:
            app:
              - path: /tmp
                subPath: tmp
