apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-credentials
  namespace: networking
stringData:  
  credentials.json: |
    {
      "AccountTag": "${CLOUDFLARE_ACCOUNT}",
      "TunnelSecret": "${CLOUDFLARE_TUNNEL_SECRET}",
      "TunnelID": "${CLOUDFLARE_TUNNELID}"
    }