---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vikunja
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      vikunja:
        containers:
          app:
            image:
              repository: vikunja/vikunja
              tag: 0.24.6
            env:
              TZ: ${TIMEZONE}
              VIKUNJA_AUTH_LOCAL: false
              VIKUNJA_DATABASE_TYPE: sqlite
              VIKUNJA_DATABASE_PATH: /db/vikunja.db
              VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_NAME: true
              VIKUNJA_DEFAULTSETTINGS_OVERDUE_TASKS_REMINDERS_ENABLED: false
              VIKUNJA_DEFAULTSETTINGS_WEEK_START: 1
              VIKUNJA_MAILER_ENABLED: true
              VIKUNJA_MAILER_HOST: smtp.protonmail.ch
              VIKUNJA_MAILER_PORT: 587
              VIKUNJA_SERVICE_PUBLICURL: https://vikunja.${SECRET_DOMAIN}
              VIKUNJA_SERVICE_TIMEZONE: ${TIMEZONE}
              VIKUNJA_SERVICE_ENABLETASKATTACHMENTS: true
              VIKUNJA_SERVICE_ENABLEREGISTRATION: false
              VIKUNJA_SERVICE_ENABLEEMAILREMINDERS: true
            envFrom:
              - secretRef:
                  name: vikunja-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 3456
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                memory: 500Mi

    service:
      app:
        ports:
          http:
            port: *port

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        className: external
        hosts:
          - host: &host "vikunja.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          vikunja:
            app:
              - path: /db
                subPath: db
              - path: /app/vikunja/files
                subPath: files
      config:
        type: secret
        name: vikunja-secret
        advancedMounts:
          vikunja:
            app:
              - path: /app/vikunja/config.yaml
                subPath: config.yaml
                readOnly: true
