---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: donetick
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      donetick:
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
        containers:
          app:
            image:
              repository: donetick/donetick
              tag: v0.1.64
            env:
              DT_ENV: selfhosted
              DT_SQLITE_PATH: /donetick-data/donetick.db
              DONETICK_DISABLE_SIGNUP: "true"
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: donetick-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/ping
                    port: &port 2021
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 200Mi
              limits:
                memory: 500Mi

    service:
      app:
        ports:
          http:
            port: *port

    ingress:
      app:
        # annotations:
        # external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        # className: external
        className: internal
        hosts:
          - host: &host "donetick.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        existingClaim: donetick-data
        globalMounts:
          - path: /donetick-data
      config:
        type: secret
        name: donetick-secret
        defaultMode: 493
        globalMounts:
          - path: /config/selfhosted.yaml
            subPath: config.yaml
