# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openwebui
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: -1
    timeout: 10m
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
    timeout: 10m
  values:
    controllers:
      openwebui:
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.6.43
            env:
              # Open-webui settings
              ENABLE_OPENAI_API: "False"
              ENABLE_OLLAMA_API: "True"
              OLLAMA_BASE_URL: http://ollama:11434
              ENABLE_WEBSOCKET_SUPPORT: "true"
              WEBSOCKET_MANAGER: "redis"
              WEBSOCKET_REDIS_URL: "redis://openwebui-redis.default.svc.cluster.local"
              # Auth
              ENABLE_OAUTH_SIGNUP: "true"
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"
              OAUTH_PROVIDER_NAME: "Keycloak"
              OPENID_PROVIDER_URL: "https://iam.${SECRET_DOMAIN}/realms/${SECRET_DOMAIN}/.well-known/openid-configuration"
              ENABLE_OAUTH_ROLE_MANAGEMENT: "true"
              ENABLE_OAUTH_GROUP_MANAGEMENT: "true"
              ENABLE_OAUTH_GROUP_CREATION: "true"
              OAUTH_ALLOWED_ROLES: "user, admin"
              OAUTH_ADMIN_ROLES: "admin"
              OAUTH_ROLES_CLAIM: "openwebui_roles"
              OAUTH_SCOPES: "openid email profile"
              DEFAULT_USER_ROLE: "user"
              ENABLE_LOGIN_FORM: "false"
              OAUTH_UPDATE_PICTURE_ON_LOGIN: "true"
              # Image Generation
              # ENABLE_IMAGE_GENERATION: false
              # IMAGE_GENERATION_ENGINE: automatic1111
              # IMAGE_GENERATION_MODEL: dreamshaper_8
              # IMAGE_SIZE: 400x400
              # IMAGE_STEPS: 8
              # AUTOMATIC1111_BASE_URL: http://sdnext:7860/
              # AUTOMATIC1111_CFG_SCALE: 2
              # AUTOMATIC1111_SAMPLER: DPM++ SDE
              # AUTOMATIC1111_SCHEDULER: Karras
            envFrom:
              - secretRef:
                  name: openwebui-secret
            resources:
              requests:
                cpu: 500m
                memory: 1Gi
              limits:
                memory: 2Gi

      redis:
        containers:
          redis:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.1
            resources:
              requests:
                cpu: 100m
                memory: 32Mi
              limits:
                memory: 256Mi

    service:
      app:
        controller: openwebui
        ports:
          http:
            port: 8080

      redis:
        controller: redis
        ports:
          http:
            port: 6379

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        className: external
        hosts:
          - host: &host "openwebui.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        existingClaim: openwebui
        advancedMounts:
          openwebui:
            app:
              - path: /app/backend/data
      run:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi
