---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    image:
      repository: ghcr.io/homarr-labs/homarr
      tag: v1.50.1

    env:
      AUTH_PROVIDERS: oidc
      TZ: "${TIMEZONE}"
      AUTH_OIDC_CLIENT_NAME: Keycloak
      AUTH_OIDC_ISSUER: "https://iam.${SECRET_DOMAIN}/realms/${SECRET_DOMAIN}"
      AUTH_OIDC_AUTO_LOGIN: "true"
      #LOG_LEVEL: "debug"

    envSecrets:
      authOidcCredentials:
        existingSecret: homarr-secret
      dbCredentials:
        existingSecret: homarr-secret
      dbEncryption:
        existingSecret: homarr-secret

    persistence:
      homarrDatabase:
        enabled: "true"
        storageClassName: rook-ceph-block

    rbac:
      enabled: true

    strategyType: Recreate

    ingress:
      enabled: true
      annotations:
        external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
      ingressClassName: external
      hosts:
        - host: "dash.${SECRET_DOMAIN}"
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - "dash.${SECRET_DOMAIN}"
